@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');

:root {
  --purple: #5A20CB;
  --bluish: #5737D6;
  --pinkish: #9424F0;
  --blue: #538FFB;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header{
  background-color: #5A20CB;
}

.nav-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo img{
 width: 80px;
}

.nav-menu{
 flex-grow: 1;
}

.list{
  list-style-type: none;
  float: right;
  padding-inline: 20px;


}
.list-item{
  float: left;
  color: white;
  font-size: 13px;
  padding: 0px 10px ;

}
.ham{
  width: 30px;
  display: none;
}

.active-item{
  position: relative;
}
.active-item::after{
 
   position: absolute;
   content: " ";
   border: 1px solid blueviolet;
   background-color: #9424F0;
   width: 60%;
   top: 16px;
   right: 10px;
}


.button button{
  background-color:#538FFB;
  color: white;
  border: none;
  padding: 10px 20px ;



}

.top-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding-bottom: 30px;
}

.top-section .left-section{

  width: 40%;

}

.top-section .left-section h1{
  color: white;
  font-size: 3rem;
  padding-bottom: 20px;
  width: 75%;
}
.top-section .left-section p{
  color: white;
  font-size: 1rem;
  width: 75%;
}
.top-section .right-section{
  width: 40%;
}
.top-section .right-section img{ 
 width: 100%;
 height: 100%;
}

.middle-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding-block: 30px;
}



.middle-section .left-section{
  width: 40%;
}
.middle-section .left-section img{ 
  width: 100%;
  height: 100%;
}


.middle-section .right-section{

  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.middle-section .right-section h1{
  
  font-size: 2rem;
  padding-bottom: 10px;

}


.point{
  display: flex;
  flex-direction: row;
  margin-block: 20px;
  
}

.point div{
 margin-left: 10px;
 /* text-align: justify; */

}

.point div h4{
  padding-bottom: 10px;
}

.point div p{
  font-size: 13px;
  width: 80%;
}
.footer{
  
}
footer h1{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 40px;
}


.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 5%;
  gap: 30px;
 
}
.card{
  width: 250px;
  height: 200px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 20px;
  margin: 0px 20px ;
  text-align: center;
}
.card img{
 width: 40px;
 margin: 5px 0px ;
 border-radius: 30%;
 padding: 20px;
 background-color:antiquewhite;
}
.card h4{
  margin: 5px 0px;
}
.card p{
  padding-bottom: 30%;
}



@media only screen and (max-width:1070px) {

  .top-section .left-section{

      width: 50%;
    
    }
    
.top-section .left-section h1{
  
  font-size: 2rem;
  width: 80%;
  

}
.top-section .left-section p{
  color: white;
  font-size: .7rem;
  width: 80%;

  
}
.middle-section .left-section{
  width: 45%;
}

.middle-section .right-section h1{

  font-size: 1.5rem;
  /* padding-bottom: 20px; */

}
.point div h4{
  padding-bottom: 3px;
}

.point div p{
  font-size: 13px;
  width: 90%;
}




}
@media only screen and (max-width:700px) {
  .nav-menu,.button{
      display: none;
  }
  .ham{
      display: inline-block;
  }

  .top-section{
      flex-direction: column-reverse;
      text-align: center;
      gap: 10%;
  }
  .top-section .left-section{
      width: 95%;
  }
  .top-section .left-section h1{
  
      font-size: 2.5rem;
      width: 100%;
      
    
    }
    .top-section .left-section p{
      color: white;
      font-size: 1rem;
      width: 100%;
      line-height: 1.3rem;
  
      
    }
    .top-section .right-section{
      width: 80%;
    }

    .middle-section{
      flex-direction: column;
    }
    .middle-section .left-section{
      width: 80%;
    }
    .middle-section .right-section{
      width: 90%;
    }
    
.point div p{
  width: 100%;    
}
.card{
  /* width: 400px; */
}
    
footer h1{
  font-size: 1.5rem;
}
    

}